<div class="container mt-3">

  <h3 class="mb-3">Production Tracking</h3>

  <!-- ORDER + LINE -->
  <div class="card p-3 mb-3">

    <div class="row">

      <div class="col-md-6">
        <label class="form-label">Select Order</label>
        <select class="form-select"
                [(ngModel)]="selectedOrderId"
                (change)="onOrderChange()">

          <option value="">-- Select Order --</option>

          <option *ngFor="let o of completedOrders"
                  [value]="o.poNumber">

            {{ o.poNumber }}

          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Production Line</label>
        <select class="form-select"
                [(ngModel)]="production.lineName">

          <option *ngFor="let l of lines" [value]="l">
            {{ l }}
          </option>

        </select>
      </div>

    </div>

  </div>

  <!-- STAGES TABLE -->
  <div class="card p-3 mb-3">

    <h5>Stages</h5>

    <table class="table table-striped table-bordered">

      <thead class="table-dark">
        <tr>
          <th>Order ID</th>
          <th>Stage</th>
          <th>Planned Qty</th>
          <th>Actual Qty</th>
          <th>Efficiency</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let s of stages">

          <td>{{ s.orderId }}</td>
          <td>{{ s.stageType }}</td>
          <td>{{ s.plannedQty }}</td>
          <td>{{ s.actualQty }}</td>
          <td>{{ s.efficiencyPercent }}%</td>

          <td>
            <span class="badge bg-primary">
              {{ s.status }}
            </span>
          </td>

          <td>
            <button class="btn btn-sm btn-success"
                    (click)="updateStage(s)">
              Update
            </button>
          </td>

        </tr>

      </tbody>

    </table>

  </div>

  <!-- ADD STAGE -->
  <div class="card p-3">

    <h5>Add Stage</h5>

    <div class="row g-2">

      <div class="col-md-3">
        <select class="form-select"
                [(ngModel)]="stageForm.stageType">

          <option>Cutting</option>
          <option>Sewing</option>
          <option>Finishing</option>

        </select>
      </div>

      <div class="col-md-3">
        <input class="form-control"
               type="number"
               placeholder="Planned Qty"
               [(ngModel)]="stageForm.plannedQty">
      </div>

      <div class="col-md-3">
        <input class="form-control"
               type="number"
               placeholder="Actual Qty"
               [(ngModel)]="stageForm.actualQty">
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100"
                (click)="addStage()">
          Add Stage
        </button>
      </div>

    </div>

  </div>

</div>